.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.px-8 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.px-9 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.px-10 {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

.m-hero {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.py-8 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.py-9 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.py-10 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.mt-7 {
  margin-top: 80px !important;
}

.mt-8 {
  margin-top: 100px !important;
}

.mt-9 {
  margin-top: 120px !important;
}

.mt-10 {
  margin-top: 150px !important;
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-sm {
  margin-bottom: 0.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-sm .form-check-input {
  height: 1rem;
  width: calc(1rem + 0.75rem);
  border-radius: 2rem;
}

.form-switch.form-switch-md {
  margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.form-switch.form-switch-lg {
  margin-bottom: 1.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

.form-switch.form-switch-xl {
  margin-bottom: 2rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-xl .form-check-input {
  height: 2.5rem;
  width: calc(4rem + 0.75rem);
  border-radius: 5rem;
}

.text-justify {
  text-align: justify;
}
